body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root.Mui-expanded {
    height: max-content;
  min-height: max-content !important;
}

.css-o4b71y-MuiAccordionSummary-content.Mui-expanded {
 margin: 0 !important;
}

a {
  text-decoration: none;
}